<div class="popover + is-add-contract">
	<div class="popover-header">
		<div class="popover-header__title">{{ __('popovers/add_contract.add_new_contract') }}</div>
		<button type="button" class="[ popover-header__close-button ] btn">&times;</button>
	</div>
	<div class="popover-content + has-footer">
		<form class="[ popover__creation-form ] collapse show">
			<div class="mb-2">
				<label class="mb-1" for="popover-<%- id %>__select">
					{{ __('popovers/add_contract.select_user_you_want_to_open_contract_with') }}
				</label>
				<select class="[ popover-member-select ] custom-select" id="popover-<%- id %>__select"></select>
				<input type="hidden" name="user[id]" disabled>
				<input type="hidden" name="user[email]" disabled>
			</div>
			<div class="[ popover__user-name-block ] form-row mb-2 collapse">
				<div class="col">
					<label for="popover-<%- id %>__first-name" class="mb-1">
						{{ __('popovers/add_contract.first_name') }}
					</label>
					<input
						type="text"
						name="user[first_name]"
						class="form-control + is-first-capitalized"
						placeholder="{{ __('popovers/add_contract.first_name') }}"
						data-name="user.first_name"
						id="popover-<%- id %>__first-name"
					>
					<div class="invalid-feedback"></div>
				</div>
				<div class="col">
					<label for="popover-<%- id %>__last-name" class="mb-1">
						{{ __('popovers/add_contract.last_name') }}
					</label>
					<input
						type="text"
						name="user[last_name]"
						class="form-control + is-first-capitalized"
						placeholder="{{ __('popovers/add_contract.last_name') }}"
						data-name="user.last_name"
						id="popover-<%- id %>__last-name"
					>
					<div class="invalid-feedback"></div>
				</div>
		</div>
			<div>
				<label class="mb-1">
					How do you wish to pay/transact with this user?
				</label>
				<ul class="[ popover__contract-payment-type-pills ] nav nav-pills nav-fill mb-2">
					<li class="nav-item">
						<a class="nav-link active" href="#" data-value="DIRECT">
							Direct
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" data-value="ESCROW">
							Escrow
						</a>
					</li>
				</ul>
				<input type="hidden" name="contract[payment_type]" disabled>
				<div class="[ popover__contract-payment-type-direct-text ] alert alert-info mb-2 collapse" role="alert">
					I will not use this platform to pay the user, I will pay him directly in other ways.
				</div>
				<div class="[ popover__contract-payment-type-escrow-text ] alert alert-info mb-2 collapse" role="alert">
					Use ScreenTrack's Payment Protection Escrow (Requires Credit Card).
				</div>
			</div>
			<div class="[ popover__contract-type-block ] mb-2 collapse d-none">
				<label class="mb-1">
					Choose Contract Type:
				</label>
				<ul class="[ popover__contract-type-pills ] nav nav-pills nav-fill mb-2">
					<li class="nav-item">
						<a class="nav-link active" href="#" data-value="HOURLY">
							Hourly
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" data-value="FIXED_PRICE">
							Fixed-Price
						</a>
					</li>
				</ul>
				<input type="hidden" name="contract[type]" disabled>
			</div>
			<div class="[ popover__contract-details-block ] collapse">
				<div class="form-row mb-2">
					<div class="[ popover__hourly-rate-block ] col collapse show" style="max-width: 115px;">
						<label for="popover-<%- id %>__hourly-rate" class="mb-1">
							{{ __('popovers/add_contract.hourly_rate') }}
						</label>
						<div class="form-control-group + has-prefix has-postfix" style="position: relative;">
							<span class="form-control-group__prefix">$</span>
							<input
								value=""
								name="contract[hourly_rate]"
								data-name="contract.hourly_rate"
								class="form-control text-right"
								type="number"
								step="0.01"
								min="0"
								max="999"
								id="popover-<%- id %>__hourly-rate"
							>
							<span class="form-control-group__postfix">/h</span>
						</div>
						<div class="invalid-feedback"></div>
					</div>
					<div class="col">
						<label for="popover-<%- id %>__contract-title" class="mb-1">
							{{ __('popovers/add_contract.contract_title') }}
						</label>
						<input
							class="form-control"
							name="contract[title]"
							data-name="contract.title"
							placeholder="{{ __('popovers/add_contract.e_g_junior_designer') }}"
							id="popover-<%- id %>__contract-title"
						>
						<div class="invalid-feedback"></div>
					</div>
				</div>
				<div class="[ popover__milestone-block ] collapse">
					<div class="popover__milestone-items"></div>
					<div class="d-flex justify-content-end">
						<button class="[ popover__add-milestone-button ] btn btn-primary btn-sm">
							{{ __('popovers/add_contract.add_milestone') }}
						</button>
					</div>
				</div>
			</div>
			<div class="d-none">
				<div>
					<div class="user-type-pills-item__description">
						A user that will get paid & be tracked with screenshots
					</div>
					<div class="user-type-pills-item__affiliate-text">Get $100 per referal</div>
				</div>
				<div>
					<div class="user-type-pills-item__description">
						The user that will <b>pay</b> with a credit card and manage the project
					</div>
					<div class="user-type-pills-item__affiliate-text">Get $150 per referal</div>
				</div>
			</div>
			<div class="[ popover__user-block ] collapse">
				<div class="[ popover__user-type-block ] collapse show mb-2">
					<label class="mb-1">
						Contract User Type:
					</label>
					<ul class="[ popover__user-type-pills ] nav nav-pills nav-fill mb-2">
						<li class="nav-item">
							<a class="nav-link active" href="#" data-value="EMPLOYER">
								It's my Client
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-value="FREELANCER">
								It's my Freelancer
							</a>
						</li>
					</ul>
					<input type="hidden" name="contract[type]" disabled>
				</div>
				<hr>
				<div class="[ popover__user-role-block ] form-group mb-2 collapse">
					<label for="popover-<%- id %>__role" class="mb-1">
						{{ __('popovers/add_contract.project_permissions') }}
					</label>
					<select class="custom-select" id="popover-<%- id %>__role"></select>
					<input type="hidden" name="project_member[role]">
				</div>
				<div class="[ popover__boards-block ] form-group mb-2 collapse">
					<label for="popover-<%- id %>__boards" class="mb-1">
						{{ __('popovers/add_contract.assign_to_boards') }}
					</label>
					<select
						class="custom-select"
						multiple="multiple"
						name="project_member[board_ids][]"
						id="popover-<%- id %>__boards"
					>
						<% project.boards.forEach(function(board, board_index) { %>
							<option value="<%- board.id %>" <%- board_index == 0 ? 'selected' : '' %>>
								<%= board.name %>
							</option>
						<% }); %>
					</select>
				</div>
			</div>
			<div class="form-group mt-3 mb-2">
				<button type="submit" class="form-control btn btn-primary">
					{{ __('popovers/add_contract.add_contract') }}
				</button>
			</div>
		</form>
		<div class="[ popover__contract-was-created-block ] collapse">
			<div class="[ popover__member-was-added-block__text ] alert alert-success mb-2" role="alert">
				{{ __('popovers/add_contract.this_user_was_added_to_your_project') }}
			</div>
			<div class="text-right">
				<button type="button" class="[ popover__member-was-added-block__close-button ] btn btn-primary">
					{{ __('popovers/add_contract.close') }}
				</button>
			</div>
		</div>
	</div>
</div>

@push('ejs-templates')
	<script type="text/ejs" id="add-project-contract-popover-milestone-item-template">
		<div class="[ popover__milestone-item ] form-row mb-2 align-items-end" data-index="<%- index %>">
			<div class="col">
				<label for="popover-<%- id %>__milestone-<%- index %>-title" class="mb-1">
					<%- __('popovers.add_contract.milestone_title', { step: (index + 1) }) %>
				</label>
				<input
					class="form-control"
					name="contract[milestones][<%- index %>][title]"
					data-name="contract.milestones.<%- index %>.title"
					placeholder="<%- __('popovers.add_contract.enter_milestone', { step: (index + 1) }) %>"
					id="popover-<%- id %>__milestone-<%- index %>-title"
					value="<%= title %>"
				>
				<div class="invalid-feedback"></div>
			</div>
			<div class="col" style="max-width: 120px;">
				<label for="popover-<%- id %>__milestone-<%- index %>-amount" class="mb-1">
					<%- __('popovers.add_contract.amount') %>
				</label>
				<div class="form-control-group + has-prefix" style="position: relative;">
					<span class="form-control-group__prefix">$</span>
					<input
						name="contract[milestones][<%- index %>][amount]"
						data-name="contract.milestones.<%- index %>.amount"
						class="form-control text-right"
						type="number"
						step="1"
						min="5"
						id="popover-<%- id %>__milestone-<%- index %>-amount"
						value="<%= amount %>"
					>
				</div>
				<div class="invalid-feedback"></div>
			</div>
			<div style="margin-right: -0.5rem;">
				<button
					class="[ popover__milestone-item__remove-button ] btn"
					type="button"
					<%- (index > 0 ? '' : 'disabled') %>
				>
					&times;
				</button>
			</div>
		</div>
	</script>
@endpush
